body
{
    border: 3px solid black;
    height: 200vh;
    padding: 10px;
}
header
{
    border: 3px solid black;
    height: 70px;
    padding: 5px;
    margin: 3px;
}
header div
{
    border: 1px;
    /* height: inherit;*/
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
header div div
{
    border: 1px solid  black;
    height: 20px;
    padding: 15px;
    margin: 3px;
    justify-content: space-between;
    width: 250vh;
}
.company-logo
{
    border: 1px solid red;
    width: 100px;
    padding: 4px;
    border-radius: 5px;
    height: 10px ;
}
.company-logo a
{
    border: 1px solid green;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
#nav-links
{
    width: 320px;
    padding: 1px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
#nav-links a
{
    border: 1px solid red;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main
{
    border: 3px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 3px;
    height: 95vh;
}
main section
{
    border: 1px solid blue;
    padding: 10px;
    height: 90vh;
    margin: 3px;
    width: ;
}
section div
{
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
    height: 20vh;
}

.button
{
    border: 1px solid orange;
    border-radius: 5px;
    margin: 5px;
}
.button h1,p,button
{
    border: 1px solid purple;
    margin: 5px;
    padding: 5px;
    display: flex;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.media
{
    border: 1px solid green;
    margin: 10px;
    height: 55vh;
}
.media div
{
    border: 1px solid black;
    height: 10vh;
}
.media div img
{
   border: 1px solid green;
   height: 5px;
   border-radius: 5px;
}
.media div P
{
   border: 1px solid blue;
   height: 5px;
   border-radius: 5px;
}
.media div h1
{
   border: 1px solid purple;
   height: 5px;
   border-radius: 5px;
}